// 搜索页的搜索条
.search-header {
    text-align: left;
    width: 100%;
    min-width: $container-width;
    height: $input-height + 10;
    margin-bottom: 20px;

    label{
        display: inline-block;
        padding: 10px;
        margin-right: 10px;
        cursor: pointer;
        color: #AAA;

        &.active{
            color: #666;
            border-bottom: 2px solid $primary-color;
        }
    }

    input[type=radio]{
        display: none;
    }

    &>div{
        background: $search-header-bg;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
    }
}

.search-header-fixed{
    width: 100%;
    min-width: $container-width;
    border-bottom: 1px solid #999;
    box-shadow: 0  3px 5px #999;
    position: fixed;
    z-index: 1000;
    top: 0;
}

// 搜索页的知识图谱
.search-graph{
    min-height: 400px;
    overflow: auto;
}

// 搜索页的搜索列表
.search-list {
    list-style: none;

    .tips{
        margin: 10px 0;
        color: $text-muted-color;
        font-size: 12px;
    }

    &>li {
        padding: 18px 0;
        border-top: 1px dotted #dfdfdf;
        transition: all 0.3s;
    }

    .title {
        padding: 10px 0;
        a {
            color: #000;
        }
    }

    .author {
        padding: 10px 0;
        font-size: 12px;
    }

    .summary {
        padding: 10px 0;
        color: #333;
    }
}
.tag-list{
    padding: 0 10px;
    border-left: 1px solid #efefef;
}

.highlight {
    color: $text-highlight;
}