.force-graph{
    min-height: 300px;
    transition: all 0.3s;
    /*
     *SVG相关
     */
    // 提示文字
    .tips{
        fill: $text-active;
    }

    // node节点
    .node{
        //stroke: #333;
        //stroke-width: 1px;
    }
    .sm-node{
        fill: #dea578;
    }
    .lg-node{
        fill: #c9646a;
    }
    .md-node{
        fill: #68a9d6;
    }
    .mm-node{
        fill: #7274d6;
    }

    // 文字
    .node-text{
        cursor: pointer;
        fill: #333;
        stroke-linejoin: round;

        transition: fill 0.3s;
        &:hover{
            fill: $text-highlight;
        }
    }

    // 连接线条
    .link{
        stroke: #ccc;
        stroke-width: 1px;
    }
}

.loading{
    background: #131618 !important;
    position: relative;

    &:before{
        content: "正在加载数据...";
        color: #fff;
    }
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        background: url("../images/loading.gif") no-repeat center center;
        @include absolute-center;
        //width: 20px;
        //height: 20px;
        //background: $primary-color;
        //border-radius: 50%;
        //@include absolute-center;
        //transition: all 1s;
        //-webkit-transform: scale(3, 3);
        //-moz-transform: scale(3, 3);
        //-ms-transform: scale(3, 3);
        //-o-transform: scale(3, 3);
        //transform: scale(3, 3);
        //animation: fadeToggle infinite 2s;
        //-webkit-animation: fadeToggle infinite 2s ;
    }
}
