.switchTab{
    margin: 10px 0 20px;
    border-bottom: 1px solid #cccccc;
    li{
        float: left;
        padding: 10px 15px;

        &.active{
            border-bottom: 1px solid #EDEBED;
            margin-bottom: -1px;
            border-left: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
        }

        a{
            text-decoration: none;
            color: $primary-color;
        }
    }
}

.switchContent{
    &>div:not(:first-of-type) {
        display: none;
    }
}
