<!DOCTYPE html>
<html>
<head>
	<% include public/head.ejs %>
</head>
<body>
<% include public/header.ejs %>
<div class="jumbotron bit-jumbotron">
	<div class="container">
		<h1>比特能信息检索</h1>
		<h5 class="text-center"><i>If you have any question you can ask below or enter what you are looking for!</i>
		</h5>

		<form action="/records" method="get" class="form clearfix">
			<input name="qs" class="input input-large" autocomplete="off" placeholder="查询您需要的科技文献" type="search"/>
			<button type="submit" class="btn btn-large btn-primary">检索</button>
		</form>
	</div>
</div>
<% include public/footer.ejs %>
</body>
</html>
