extends public/layout
block content
    div.jumbotron.bit-jumbotron
        div.container
            h1 比特能信息检索
            h5.text-center
                i If you have any question you can ask below or enter what you are looking for!
            form.form.clearfix(action="/records", method="get")
                input.input.input-large(autocomplete="off", name="qs", placeholder="查询您需要的科技文", type="search")
                button.btn.btn-large.btn-primary(type="submit") 检索

