<!DOCTYPE html>
<html>
<head>
	<% include public/head.ejs %>
</head>
<body>
<% include public/header.ejs %>
<% include search/search-header.ejs%>
<div class="container">
	<!-- 知识图谱 -->
	<% if(queryNum == 1){ %>
	<div class="panel">
		<h2 class="panel-title">知识图谱</h2>
		<div class="panel-content force-graph">

		</div>
	</div>
	<% } %>

	<!-- 网页搜索-->
	<div class="panel">
		<h2 class="panel-title">网页搜索</h2>
		<div class="panel-content">
			<% if(recordCount != 0){ %>
			<% include search/search-list.ejs %>
			<% }else{ %>
			很抱歉，没有找到与“<%= qs %>”相关的网页。请确认输入是否正确。
			<% } %>
		</div>
	</div>
</div>
<% include public/footer.ejs %>
</body>
</html>
