<!DOCTYPE html>
<html>
<head>
	<% include public/head.ejs %>
</head>
<body>
<% include public/header.ejs %>
<% include search/search-header.ejs%>
<div class="container">

</div>
<% include public/footer.ejs %>
</body>
</html>
