body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
  /* table elements */
  margin: 0;
  padding: 0;
}


body, button, input, select, textarea {
  /*font: 12px/1 Tahoma, Helvetica, Arial, sans-serif;*/
  font: $font-size/1, $font-family Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  color: $color;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 {
  font-size: 20px;
  /* 18px / 12px = 1.5 */
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */

code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */

small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */

ul, ol {
  list-style: none;
}

/* 重置文本格式元素 */

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q {
  &:before, &:after {
    content: '';
  }
}

/* 重置表单元素 */

legend {
  color: #000;
}

/* for ie6 */

fieldset, img {
  border: none;
}

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */

button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */

hr {
  border: none;
  height: 1px;
}