//基本变量
$font-size: 14px;
$font-family: "微软雅黑";
$container-width: 1020px;
$color: #666;
$bg-color: #EDEBED;

//颜色
$primary-color: #7D454C;

//text文字变量
$text-primary-color: $primary-color;
$text-muted-color: #a9a9a9;
$text-highlight: #E8433D; //#267BCC;
$text-active: #c3325f;


//Header变量
$header-height: 60px;
$header-bg-color: #101C2F;
$header-link-color: #DFDFDF;
$header-link-hover-color: #FFF;

//Footer变量
$footer-height: 30px;
$footer-bg-color: #222;
$footer-link-color: #f5f5f5;
$footer-link-hover-color: #FFF;

//jumbotron巨幕
$jumbotron-padding: 50px;

// form
$input-height: 40px;
$input-bg: #f5f5f5;

// button
$btn-primary-color: $primary-color;
$btn-padding: 30px;