@charset "UTF-8";
.clearfix:after {
  content: "";
  display: table;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hidden {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #a9a9a9;
  font-size: 12px; }

@keyframes fadeToggle {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(3, 3);
    -moz-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    -o-transform: scale(3, 3);
    transform: scale(3, 3); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes fadeToggle {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(3, 3);
    -moz-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    -o-transform: scale(3, 3);
    transform: scale(3, 3); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes fadeToggle {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(3, 3);
    -moz-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    -o-transform: scale(3, 3);
    transform: scale(3, 3); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
  /* table elements */
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  /*font: 12px/1 Tahoma, Helvetica, Arial, sans-serif;*/
  font: 14px, "微软雅黑" Tahoma, Helvetica, Arial, "宋体", sans-serif;
  color: #666;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */ }

h1 {
  font-size: 20px;
  /* 18px / 12px = 1.5 */ }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
  list-style: none; }

/* 重置文本格式元素 */
a {
  color: #428bca;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help; }

q:before, q:after {
  content: ''; }

/* 重置表单元素 */
legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 hr */
hr {
  border: none;
  height: 1px; }

p {
  line-height: 120%; }

body {
  height: 100%; }

body, html {
  background: #EDEBED; }

.container {
  clear: both;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.weight-1, .weight-2, .weight-3, .weight-4, .weight-5, .weight-6, .weight-7, .weight-8, .weight-9, .weight-10, .weight-11, .weight-12 {
  min-height: 1px;
  display: inline-block; }

.weight-12 {
  width: 100%; }

.weight-11 {
  width: 91.66666667%; }

.weight-10 {
  width: 83.33333333%; }

.weight-9 {
  width: 75%; }

.weight-8 {
  width: 66.66666667%; }

.weight-7 {
  width: 58.33333333%; }

.weight-6 {
  width: 50%; }

.weight-5 {
  width: 41.66666667%; }

.weight-4 {
  width: 33.33333333%; }

.weight-3 {
  width: 25%; }

.weight-2 {
  width: 16.66666667%; }

.weight-1 {
  width: 8.33333333%; }

.single-info {
  padding: 5px 0; }
  .single-info:before {
    display: table;
    content: "";
    clear: both; }
  .single-info:after {
    display: table;
    content: ""; }

a.another-link {
  float: right;
  font-size: 11px;
  font-style: italic;
  padding-top: 5px; }

a.black_link {
  color: #666; }

header {
  height: 60px;
  background: #101C2F;
  min-width: 1200px; }
  header .brand img {
    height: 60px; }
  header .nav-horizontal:after {
    content: "";
    display: table;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both; }
  header .nav-horizontal li {
    float: left; }
  header .nav-horizontal a {
    display: block;
    height: 58px;
    line-height: 60px;
    color: #DFDFDF;
    padding: 0 30px;
    text-decoration: none; }
    header .nav-horizontal a:not(.active):hover {
      color: #FFF; }
    header .nav-horizontal a.active {
      color: #c3325f;
      border-bottom: 2px solid #c3325f; }

.sidebar {
  width: 260px !important; }

.form {
  margin: 20px 0; }

.footer, .fixed-footer {
  margin-top: 30px;
  color: #f5f5f5;
  background: #222;
  text-align: center;
  display: none;
  min-width: 1200px;
  width: 100%;
  border-top: 3px solid #7D454C; }
  .footer .container, .fixed-footer .container {
    padding: 20px 0; }

.fixed-footer {
  position: fixed;
  bottom: 0; }

.btn {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid transparent;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 30px;
  height: 40px;
  line-height: 41px; }

.btn-small {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid transparent;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 0 20px;
  height: 30px;
  line-height: 28px; }

.btn-large {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid transparent;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 40px;
  height: 50px;
  line-height: 48px; }

.btn-primary {
  background: #7D454C;
  color: #fff; }
  .btn-primary:hover {
    background: #6d3c42; }

.jumbotron {
  min-width: 1200px;
  padding: 50px 0;
  border-bottom: #efefef 1px solid;
  margin-bottom: 30px; }
  .jumbotron h1 {
    text-align: center;
    font-size: 28px;
    margin: 15px 0; }

.input {
  background: #f5f5f5;
  border: 1px solid #ccc;
  transition: background 0.8s;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  width: 50%; }
  .input::-webkit-input-placeholder {
    color: #c7c7c7; }
  .input:focus {
    background: #FFF; }

.input-small {
  background: #f5f5f5;
  border: 1px solid #ccc;
  transition: background 0.8s;
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  width: 50%; }
  .input-small::-webkit-input-placeholder {
    color: #c7c7c7; }
  .input-small:focus {
    background: #FFF; }

.input-large {
  background: #f5f5f5;
  border: 1px solid #ccc;
  transition: background 0.8s;
  font-size: 16px;
  padding: 0 16px;
  height: 50px;
  line-height: 50px;
  width: 50%; }
  .input-large::-webkit-input-placeholder {
    color: #c7c7c7; }
  .input-large:focus {
    background: #FFF; }

.paging {
  margin: 10px 0; }
  .paging li {
    float: left;
    margin: 5px 10px;
    border: 1px solid #DFDFDF; }
    .paging li a {
      display: block;
      color: #666;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px; }
    .paging li.active {
      background: #7D454C; }
      .paging li.active a {
        color: #fff; }

.panel, .panel-left, .panel-right, .panel-expert {
  margin: 15px 0; }
  .panel .panel-title, .panel-left .panel-title, .panel-right .panel-title, .panel-expert .panel-title {
    font-size: 18px;
    border-left: 6px solid #000;
    padding: 8px 10px;
    margin: 10px 0; }
    .panel .panel-title:before, .panel-left .panel-title:before, .panel-right .panel-title:before, .panel-expert .panel-title:before {
      content: '';
      padding: 34px 3px 0 0;
      background: #c3325f;
      position: absolute;
      margin-left: -13px;
      margin-top: -8px; }
@-moz-document url-prefix() {
  .panel .panel-title:after, .panel-left .panel-title:after, .panel-right .panel-title:after, .panel-expert .panel-title:after {
    padding: 37px 3px 0 0; } }
  .panel .panel-content, .panel-left .panel-content, .panel-right .panel-content, .panel-expert .panel-content {
    padding: 20px 25px; }
  .panel p.space, .panel-left p.space, .panel-right p.space, .panel-expert p.space {
    padding: 5px 0; }
    .panel p.space a, .panel-left p.space a, .panel-right p.space a, .panel-expert p.space a {
      font-size: 14px;
      color: #666;
      cursor: pointer; }

.panel-left {
  width: 700px; }

.panel-right {
  width: 500px; }
  .panel-right .person {
    display: none; }

.panel-expert {
  width: 940px; }

.panel-virtual {
  width: 900px;
  display: inline-block;
  margin: 20px auto 10px auto;
  padding: 20px 0; }
  .panel-virtual .panel-robots {
    width: 20%;
    height: 700px;
    float: left; }
    .panel-virtual .panel-robots .robot {
      padding: 10px; }
    .panel-virtual .panel-robots h4 {
      padding: 5px 0; }
    .panel-virtual .panel-robots .field {
      display: inline-block;
      height: 30px;
      padding: 0 5px;
      font-size: 9px;
      line-height: 30px;
      background: #ffffff;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }
    .panel-virtual .panel-robots .img {
      display: inline-block;
      position: relative; }
    .panel-virtual .panel-robots .img-delete {
      display: none;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      right: 0; }
  .panel-virtual .panel-talk {
    float: left;
    width: 75%;
    display: inline-block;
    padding: 0 10px;
    height: 650px;
    position: relative;
    overflow: scroll;
    border: 1px solid #DAD6D6; }
    .panel-virtual .panel-talk div {
      padding: 7px 0;
      color: #2f2f2f; }
      .panel-virtual .panel-talk div .sentence {
        display: inline-block;
        background: #ffffff;
        padding: 10px;
        border-radius: 5px; }
    .panel-virtual .panel-talk .question {
      text-align: right; }
    .panel-virtual .panel-talk .answer {
      text-align: left; }
  .panel-virtual .talk-form {
    display: inline-block;
    bottom: 0;
    width: 700px;
    padding: 20px 0; }
    .panel-virtual .talk-form input {
      width: 80%; }

.force-graph {
  min-height: 300px;
  transition: all 0.3s;
  /*
   *SVG相关
   */ }
  .force-graph .tips {
    fill: #c3325f; }
  .force-graph .sm-node {
    fill: #dea578; }
  .force-graph .lg-node {
    fill: #c9646a; }
  .force-graph .md-node {
    fill: #68a9d6; }
  .force-graph .mm-node {
    fill: #7274d6; }
  .force-graph .node-text {
    cursor: pointer;
    fill: #333;
    stroke-linejoin: round;
    transition: fill 0.3s; }
    .force-graph .node-text:hover {
      fill: #E8433D; }
  .force-graph .link {
    stroke: #ccc;
    stroke-width: 1px; }

.loading {
  background: #131618 !important;
  position: relative; }
  .loading:before {
    content: "正在加载数据...";
    color: #fff; }
  .loading:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/loading.gif") no-repeat center center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

.switchTab {
  margin: 10px 0 20px;
  border-bottom: 1px solid #cccccc; }
  .switchTab li {
    float: left;
    padding: 10px 15px; }
    .switchTab li.active {
      border-bottom: 1px solid #EDEBED;
      margin-bottom: -1px;
      border-left: 1px solid #CCCCCC;
      border-right: 1px solid #CCCCCC; }
    .switchTab li a {
      text-decoration: none;
      color: #7D454C; }

.switchContent > div:not(:first-of-type) {
  display: none; }

.histogram rect, #special .pie rect, #analysis .pie rect {
  fill: steelblue;
  shape-rendering: crispEdges;
  transition: all 0.3s; }
  .histogram rect:hover, #special .pie rect:hover, #analysis .pie rect:hover {
    fill: #294d6b; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.expert-item {
  width: 80px;
  float: left;
  padding: 5px 10px; }
  .expert-item .image {
    width: 100%; }
  .expert-item .reason {
    font-size: 12px; }

/*
 * page: index
 */
/*
 * page: index
 */
.bit-jumbotron {
  color: #a9a9a9;
  height: 90%;
  text-align: center;
  margin-top: 10%; }
  .bit-jumbotron h1 {
    color: #000; }

.search-header {
  text-align: left;
  width: 100%;
  min-width: 1200px;
  height: 50px;
  margin-bottom: 20px; }
  .search-header label {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #AAA; }
    .search-header label.active {
      color: #666;
      border-bottom: 2px solid #7D454C; }
  .search-header input[type=radio] {
    display: none; }
  .search-header > div {
    background: #F5F5F5;
    border-bottom: 1px solid #ccc;
    padding: 5px 0; }

.search-header-fixed {
  width: 100%;
  min-width: 1200px;
  border-bottom: 1px solid #999;
  box-shadow: 0  3px 5px #999;
  position: fixed;
  z-index: 1000;
  top: 0; }

.graph {
  display: none; }

.search-graph {
  min-height: 400px;
  overflow: auto; }

.search-list {
  list-style: none; }
  .search-list .tips {
    margin: 10px 0; }
  .search-list > li {
    padding: 18px 0;
    border-top: 1px dotted #dfdfdf;
    transition: all 0.3s; }
  .search-list .title {
    padding: 10px 0; }
    .search-list .title a {
      color: #000; }
  .search-list .author {
    padding: 10px 0;
    font-size: 12px; }
    .search-list .author a {
      color: inherit; }
  .search-list .summary {
    padding: 10px 0;
    color: #333;
    font-size: 15px;
    line-height: 1.5; }

.expert-list li {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px dotted #ccc; }
.expert-list .info {
  margin-left: 15px;
  width: 160px; }
.expert-list .panel-content {
  padding-top: 1px; }

.tag-list {
  padding: 0 10px;
  border-left: 1px solid #efefef; }

.highlight {
  color: #E8433D; }

.article .title {
  margin: 10px 0; }
.article .detail {
  margin: 20px 0; }
  .article .detail span {
    margin: 0 10px; }
.article .content {
  text-indent: 2em;
  margin: 15px 0;
  line-height: 1.5em;
  font-size: 16px;
  padding: 0 20px; }
.article .keywords {
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px; }
  .article .keywords a {
    font-size: 14px;
    text-decoration: underline;
    margin: 0 5px; }

.expert .panel-content h1 {
  font-size: 20px;
  margin-bottom: 20px; }
.expert .panel-content > div {
  margin: 25px 0; }
.expert .panel-content hr {
  border-top: 1px dotted #ccc; }
.expert .expert-data li {
  float: left;
  width: 50%;
  margin: 10px 0; }

#achievement li {
  margin: 20px 0; }
  #achievement li output {
    color: #333; }
#achievement .author, #achievement .source {
  margin: 5px 0;
  font-size: 14px;
  color: #aaa; }

#special hr, #analysis hr {
  border-top: 1px solid #d6d6d6; }
#special h1, #analysis h1 {
  padding: 20px 0; }
#special h2, #analysis h2 {
  padding: 10px 0;
  color: #E8433D; }
#special h4, #analysis h4 {
  margin: 30px 0 10px;
  color: #a9a9a9; }
#special table, #analysis table {
  margin: 10px 0;
  text-align: center;
  font-size: 12px;
  border: 1px solid #000; }
  #special table td, #analysis table td {
    padding: 5px 10px;
    width: 300px; }
    #special table td.score, #analysis table td.score {
      color: #E8433D; }
#special .histogram, #special .pie, #analysis .histogram, #analysis .pie {
  min-height: 350px;
  margin: 20px;
  border: 1px solid #dfdfdf; }
  #special .histogram svg, #special .pie svg, #analysis .histogram svg, #analysis .pie svg {
    display: block; }

.explanation {
  display: none; }

.knowledge-description {
  margin: 5px 0;
  line-height: 1.5;
  font-size: 15px; }

a.come-from {
  padding: 5px;
  font-size: 11px;
  font-style: italic; }

.knowledge-name {
  padding: 10px 0; }
  .knowledge-name a {
    color: #373737; }

/*# sourceMappingURL=main.css.map */
