h1.text-center 曾涛的学术影响力分析
h2 一、总体影响力分析
table(border=1)
    thead
        td h指数
        td 学术成果总数
        td 外文成果数
        td 第一作者成果数
        td 总被引频次
        td 篇均被引频次
        td 高被引成果数
        td 被引用成果数
    tbody
        tr
            td #{expertInfo.evaluation.num_h}
            td 13
            td 0
            td 6
            td 51
            td 4
            td 0
            td 10

h4 发文数量年度分布图
hr
div.histogram#articleYearCount

h4 成果产出统计
hr
div.pie

h2 二、被引用情况分析
h4 被引频次年度分布图
hr
div.histogram#blockquoteYearCount





