//
   Created by thanatos on 15-8-13.

div.single-info
   div.text-right.weight-3 姓名：
   dvi.text-left.weight-9 #{details.name}
div.single-info
   div.text-right.weight-3 所属机构：
   dvi.text-left.weight-9 #{details.institution}
div.single-info
    div.text-right.weight-3 研究领域：
    dvi.text-left.weight-9 #{details.field}
div.single-info
    div.text-right.weight-3 学位：
    dvi.text-left.weight-9 #{details.degree}