@mixin nav-horizontal($height, $link-color, $hover-color) {
    .nav-horizontal {
        @include clearfix;
        li {
            float: left;
        }
        a {
            display: block;
            height: $height - 2;
            line-height: $height;
            color: $link-color;
            padding: 0 30px;
            text-decoration: none;
            &:not(.active):hover {
                color: $hover-color;
            }
            &.active {
                color: #c3325f;
                border-bottom: 2px solid #c3325f;
            }
        }
    }
}