doctype html
html
    head
        meta(charset='UTF8')
        title 页面没找到
        link(rel='stylesheet' href='/stylesheets/main.css')
    body
        div.jumbotron
            h1.container #{status}: #{message}
