// 若不存在数据或数据量过小，导航条固定在下方
if !recordData || (recordData.recordCount <= 1)
    div.footer.fixed-footer
        div.container
            span C-Team团队
else
    div.footer
        div.container
            span C-Team团队

