// 用于判断导航栏栏目是否高亮
mixin activeLi(path, content)
    li
        if path === pathname
            a.active(href=path) #{content}
        else
            a(href=path) #{content}

header.header
    nav.container.clearfix
        div.brand.pull-left
            a(href="/")
                img(src='/images/logo.png', alt='C-Team')
        ul.nav-horizontal.pull-right
            +activeLi("/", "主页")
            +activeLi("/records", "信息检索")
            +activeLi("", "虚拟专家")
            +activeLi("", "关于我们")


