//
//   Created by thanatos on 15-8-14.
//

doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        include header
        block content
        include footer